body{
    margin:0;
    padding: 0;
    /* background-color: #132450; */
    background-image: url(../img/cc_background.jpg);
    font-family: sans-serif;

}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

input.src{

    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: #444;
    border: 3px solid gold;
    background: #fff url("../img/search.png") no-repeat 9px center;
    width: 60px;
    transition: all .5s;

}

input.src:hover{
    width: 180px;
    background-color: #fff;
    border-color: #8c10b3;
    box-shadow: 0 0 5px #6dcff680;
}