body{

    background-color: #132450
}
h1{
    color: gold;
}
div{
    text-align: left;
    position:static;
    color:aliceblue;
    font-family: sans-serif;
    font-size: 18px;
    font-stretch:semi-condensed;
}
h2{
    text-align: center;
    color: royalblue;
    font-size:55px;
}
form{
    box-align: center;
}

co.div{
    font-size: 20px;
}