body{
    background-color: white;
    /**background-color: #132450;**/
}
h1{
    color: #0077cc;
    font-family: sans-serif;
    font-stretch: extra-condensed;
    font-size: 65px;
}


div{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch:extra-condensed;
    font-size: 35px;
}

p2{
    color: gray;
    background-color: whitesmoke;
    font-family: Arial;
    font-stretch: ultra-expanded;
}

h3{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul{
    list-style-type:none;
    margin: 5px;
    padding: 5px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 32pt;
}

