<!DOCTYPE html>
<html lang="es">
<head>
<title>comprar ticket</title>
<meta charset="utf-8" />
</head>
 
<body>
    <header>
       <h1>Mi sitio web</h1>
       <p>Mi sitio web creado en html5</p>
    </header>
    <h1>id pelicula {{response.Title}}</h1>
</body>
</html>